* {
  font-family: "Bebas Neue", cursive;
}
html,
body {
  padding: 0;
  margin: 0;
}
body {
  color: #ffffff;
  padding: 0px 10px;
  background: #757f9a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #d7dde8,
    #757f9a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #d7dde8,
    #757f9a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
table,
tr,
td,
th {
  width: auto;
  background-color: #282828;
  border: 1px solid #eeeeee;
  margin: 10px 0px;
}
th {
  background-color: #282744;
}
h1.title {
  text-align: center;
  font-size: 35px;
  line-height: 0.3;
  text-shadow: 4px 5px #38000f;
  letter-spacing: 8px;
  color: #8891a9;
}
.simple-form {
  text-align: center;
  width: 600px;
  margin: 0 auto;
  box-shadow: 4px 53px 56px black;
  background: #8c95ad14;
  border-radius: 143px;
  box-sizing: border-box;
  margin-top: 50px;
  padding: 29px;
  height: 300px;
  transform: scale(1);
  animation: formMy 3s ease-in-out;
}
@keyframes formMy {
  40% {
    transform: scale(0.4);
  }
  75% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}
.input-url {
  width: 350px;
  padding: 10px 10px 10px 20px;
  border-radius: 20px;
  box-shadow: 6px 3px #7d87a0;
  font-size: 16px;
  -webkit-text-fill-color: #0e0505e0;
  letter-spacing: 1.3px;
  border: none;
  background: #d3d9e5;
}
.input-url:hover {
  animation: inputBu 3s ease-in-out;
}
@keyframes inputBu {
  40% {
    transform: rotate3d(40, 23, 21, -5deg);
  }
  80% {
    transform: rotate3d(40, 23, 21, 5deg);
  }
  100% {
    transform: rotate3d(40, 23, 21, 0deg);
  }
}

input:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}
.btn {
  color: #ffffff;
  border: none;
  letter-spacing: 4.6px;
  width: 110px;
  cursor: pointer;
  line-height: 1.2;
  margin-left: 8px;
  border-radius: 23px;
  padding: 8px;
}
.btn-start {
  background-color: #9ba4b8;
}
.btn-stop {
  background-color: #9ba4b8;
}
.total,
.time {
  color: #22ec22;
}
.footer_wrapper {
  height: 80px;

  margin: 0 auto;
  background: #ffffff40;
  border-top: 1px solid #ffffffba;
}
#main {
  height: 90vh;
}
.our_git {
  margin: 10px 0 0;
  display: flex;
  justify-content: space-evenly;
  padding: 0;
}
.main_footer_block {
  width: 500px;
  margin: 0 auto;
}
.our_git li {
  list-style: none;
  font-size: 20px;
  letter-spacing: 1.2px;
  position: relative;
}
.our_git li::after {
  content: "Contact Git";
  position: absolute;
  top: -5px;
  left: -16px;
  color: #dcb6b6;
  text-align: center;
  transition: 1.8s;
  padding: 5px 5px 0;
  opacity: 0;
  font-size: 15px;
  border-top: none;
  width: 80px;
  background: #fff;
  height: 20px;
  border-radius: 40px;
  border-top: none;
  border-top: none;
  border-bottom: 5px solid #c7b3b3;
}
.our_git li:hover:after {
  top: -51px;
  opacity: 1;
}

.our_git li a {
  color: #fff;
  text-decoration: none;
}
