<form id="form" method="POST" action="">
    <div class="item">
        <h1 class="title">Parser of Goods</h1>
        <fieldset class="form-input">
            <input class="input input-url" type="text" name="url" value="<?= (!empty($_SESSION["url"])) ? $_SESSION["url"] : "" ?>" placeholder="Enter url for category" required />
            <div class="tooltip">?<span class="tooltip-content">E.g. https://site.com/category/</span></div>
            <input class="input input-card-name" type="text" name="product_card_name" value="<?= (!empty($_SESSION["product_card_name"])) ? $_SESSION["product_card_name"] : "" ?>"" placeholder="Enter selector for product card" required />
            <div class="tooltip">?<span class="tooltip-content">E.g. .product-name a</span></div><br>
            <label for="pagination-checkbox">
                <input id="pagination-checkbox" class="input-checkbox" onclick="showPagination()" type="checkbox" <?= (!empty($_SESSION['pagination_url'])) ? "checked" : "" ?> />
                Pagination</label><br>
            <div id="pagination" style="display: <?= (!empty($_SESSION['pagination_url'])) ? "block" : "none" ?>">
                <input id="pagination-url" class="input input-pagination" type="text" name="pagination_url" value="<?= isset($_SESSION["pagination_url"]) ? $_SESSION["pagination_url"] : ""?>" placeholder="Enter url page with pagination" />
                <div class="tooltip">?<span class="tooltip-content">E.g. https://site.com/category?page=3</span></div>
                <div>
                    <p>Enter the number of pages in pagination</p>
                    <input type="text" name="quantity_pages" value="<?= isset($_SESSION["quantity_pages"]) ? $_SESSION["quantity_pages"] : "0"?>" class="quantity-pages" id="quantiy-pages" />
                </div><br>
            </div>
            <div>
                <input id="image" class="input-checkbox" type="checkbox" checked="checked" name="download_image" value="1" />
                <label for="image">Download images</label>
                <?php if (isset($_SESSION["has_excel_file"]) && $_SESSION["has_excel_file"] === true): ?>
                <a id="download_image" href="/src/upload/zip/images.zip">Download</a>
                <?php endif; ?>
            </div>
            <div>
                <input id="excel" class="input-checkbox" type="checkbox" checked="checked" name="download_excel" value="1" />
                <label for="excel">Excel/CSV</label>
                <?php if (isset($_SESSION["has_excel_file"]) && $_SESSION["has_excel_file"] === true): ?>
                <a id="download_excel" href="/src/upload/goods.xlsx">Download</a>
                <?php endif; ?>
            </div>
            <a class="next btn" onclick="nextSlide()">Next</a>
            <a id="show-table" class="btn btn-show">Show Table</a>
        </fieldset>
    </div>
    <div class="item">
        <h1 class="title">Choose Fields</h1>
        <fieldset class="form-input">
            <p>Fill these fields for next parsing. These fields cover on product page *</p>
            <div id="form-fields">
                <input class="input input-name" type="text" name="name" value="<?= (!empty($_SESSION["name"])) ? $_SESSION["name"] : "" ?>" placeholder="Enter selector for name" />
                <div class="tooltip">?<span class="tooltip-content">E.g. h1</span></div>
                <input class="input input-code" type="text" name="code" value="<?= (!empty($_SESSION["code"])) ? $_SESSION["code"] : "" ?>" placeholder="Enter selector for code" />
                <div class="tooltip">?<span class="tooltip-content">E.g. .product-article</span></div>
                <input class="input input-price" type="text" name="price" value="<?= (!empty($_SESSION["price"])) ? $_SESSION["price"] : "" ?>" placeholder="Enter selector of price" />
                <div class="tooltip">?<span class="tooltip-content">E.g. .product-price</span></div>
                <input class="input input-image" type="text" name="image" value="<?= (!empty($_SESSION["image"])) ? $_SESSION["image"] : "" ?>" placeholder="Enter selector of image" />
                <div class="tooltip">?<span class="tooltip-content">E.g. div.product-image</span></div>
                <input class="input input-description" type="text" value="<?= (!empty($_SESSION["description"])) ? $_SESSION["description"] : "" ?>"" name="description" placeholder="Enter selector of description" />
                <div class="tooltip">?<span class="tooltip-content">E.g. .product-desc</span></div>
                <div class="btn btn-add" onclick="addField()">Add</div>
            </div>
            <div class="btn-group">
                <button id="btn_start" class="btn btn-start" name="start" value="1">Start</button>
                <button class="btn btn-stop" type="button" onclick="abortFetching();">Stop</button>
                <a class="previous btn" onclick="previousSlide()">Previous</a>
            </div>
        </fieldset>
    </div>
</form>
