* {
    font-family: "Bebas Neue", cursive;
}
html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    margin: 0%;
    overflow-x: hidden;
    background: rgba(28, 28, 28, 1);
}
main {
    bottom: 0;
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
    padding: 0 10px;
}
table,
tr,
td,
th {
    font-size: 10px;
    width: 100%;
    background-color: #282828;
    border-right: 1px solid;
    border-left: 1px solid;
    margin: 10px 0px;
    text-align: center;
    font-size: 19px;
    line-height: 1.6;
    padding: 15px 20px;
    border-collapse: collapse;
    border-bottom: 1px solid;
}
td,
th {
    font-size: 12px;
    width: 10%;
}
#table tr:hover td {
    background: #000;
    transition: 0.6s;
}
th {
    background-color: #727272;
    padding: 10px 0;
    font-size: 17px;
    line-height: 1.7;
}
h1.title {
    text-align: center;
    font-size: 35px;
    line-height: 0.3;
    text-shadow: 4px 5px #38000f;
    letter-spacing: 8px;
    color: rgba(128, 170, 128, 1);
}
.simple-form {
    width: 600px;
    margin: 0 auto;
    box-shadow: 4px 53px 56px black;
    background: #1d1c1cde;
    border-radius: 40px;
    position: absolute;
    top: 10%;
    left: 50%;
    box-sizing: border-box;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 29px;
    min-height: 370px;
    transform: scale(1) translateX(-50%);
}
.form-input {
    margin-top: 50px;
    border: none;
}
.input {
    font-family: 'Arial', sans-serif;
    display: inline-block;
    width: 350px;
    padding: 10px 10px 10px 20px;
    margin: 5px 0px;
    border-radius: 10px;
    box-shadow: 6px 3px rgb(114 130 114);
    font-size: 16px;
    /* -webkit-text-fill-color: #0e0505e0; */
    color: #ffffff;
    letter-spacing: 1.3px;
    border: none;
    background: #2C2F31;
}
.input-card-name {
    margin-bottom: 30px;
}
.required {
    margin-left: 10px;
    color: #ff9300;
}
.input:hover {
    animation: inputBu 3s ease-in-out;
}
input:active,
:hover,
:focus {
    outline: 0;
    outline-offset: 0;
}
.btn-group {
    margin-top: 20px;
}
.btn {
    display: inline-block;
    opacity: 0.7;
    color: #ffffff;
    border: none;
    letter-spacing: 2px;
    width: 140px;
    cursor: pointer;
    line-height: 1.2;
    margin-left: 8px;
    border-radius: 23px;
    padding: 8px;
}
.btn-start {
    background-color: #5fa764;
}
.btn-stop {
    background-color: #d6414b;
}
.btn-show,
.btn-add {
    background-color: rgba(128, 128, 128, 1);
}
.btn-show {
    display: none;
    position: absolute;
    bottom: 20px;
    left: 36%;
    text-decoration: none;
    text-align: center;
}
.btn-add {
    background-color: #fa8e22;
    position: fixed;
    right: 20px;
    top: 318px;
    text-align: center;
    width: 70px;
}
.btn-remove {
    width: 20px;
    font-size: 25px;
    margin-left: 15px;
    vertical-align: middle;
    line-height: 5px;
    background-color: #d6414b;
    text-align: center;
    border-radius: 7px;
}
.btn:hover {
    opacity: 1;
}
.total,
.time {
    color: #aaec22;
    font-size: 21px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}
// Modal Window
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    transform: scale(1);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
    display: none;
    /* background-color: #fefefe; */
    opacity: 0.9;
    position: absolute;
    top: 100%;
    padding: 20px;
    width: 94%;
    z-index: 1000;
    transform: scale(1);
}
#close-table {
    color: #aaa;
    font-size: 60px;
    font-weight: bold;
    position: absolute;
    right: -10px;
    top: 10px;
}
#close-table:hover,
#close-table:focus {
    color: #eee;
    text-decoration: none;
    cursor: pointer;
}
// Slider
.slider {
    max-width: 90%;
    position: relative;
    margin: auto;
    height: 300px;
}
.slider .previous,
.slider .next {
    cursor: pointer;
    text-align: center;
    position: absolute;
    bottom: 0;
    margin: 20px 20px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
.slider .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.slider .previous {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.slider .previous:hover,
.slider .next:hover {
    color: #ece;
}
.slider .item {
    animation-name: fade;
    animation-duration: 1.5s;
}

.download {
    color: #f5ee0c;
}

.tooltip {
    cursor: pointer;
    font-size: 20px;
    margin-left: 10px;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
    position: relative;
}

.tooltip .tooltip-content {
    font-family: Arial;
    font-size: 16px;
    visibility: hidden;
    width: 270px;
    height: auto;
    background-color: rgba(120, 120, 120, 0.9);
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -140px;
    box-shadow: 0px 0px 3px 4px #666;
}

.tooltip:hover .tooltip-content {
    visibility: visible;
}
