<!DOCTYPE html>
<html>
    <head>
        <title>Parser Of Goods</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="./src/assets/styles/main.css">
        <link rel="stylesheet" href="./src/assets/styles/normalize.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Source+Serif+Pro:wght@300;600;700&display=swap" rel="stylesheet">
    </head>
    <body>
        {= yield content =}
    </body>
    <script src="./src/assets/js/main.js" type="text/javascript"></script>
    <script src="./src/assets/js/background.js" type="text/javascript"></script>
    <footer id="footer" class="footer_wrapper"></footer>
</html>
